@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300');

#root {
  height: '100%';
  width: 100vw;
  color: white;
  font-family: 'Poppins';
}

body {
  /* TODO: How can we make the x value of the radial gradient responsive to window width? */
  background-image: radial-gradient(farthest-corner at 1800px -100px,
      #0E024F 0%, black 100%);      
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}